<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Add User to Car</title>
</head>
<body>
  
</body>
</html>
<h1> Car </h1>
<table border="1">
  <tr>
    <th>Merk</th>
    <th>Type</th>
    <th>Category</th>
  </tr>
  <tr>
    <td><%=dataCar.merk%></td>
    <td><%=dataCar.type%></td>
    <td> <%=dataCar.category%></td>
  </tr>

</table>

  <h1> Add User</h1>
  <form action="/cars/users/<%=dataCar.id%>" method="POST">
    <div>
      <label>User</label><br>
      <select name="UserId">
        <%users.forEach(el => {%>
        <option value="<%=el.id%>"><%=el.getFullNameUser()%></option>
        <%})%>
      </select><br>
    </div>
    <div><br>
      <input type="submit" value="Save">
      <input type="reset" value="Cancel">
    </div>
  </form>


  <h1>List User</h1>
  <table border="1">
    <tr>
      <th>First Name</th>
      <th>Last Name</th>
    </tr>
    <%users.forEach(el => {%>
      <tr>
        <td><%=el.first_name%></td>
        <td><%=el.last_name%></td>
      </tr>
   <% })%>
  </table>

  </body>

  </html>